In [5]:
import pandas as pd
ds = pd.read_csv('training.1600000.processed.noemoticon.csv',encoding = 'ISO-8859-1')
ds.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [6]:
!pip install wordcloud

Collecting wordcloud
  Downloading wordcloud-1.9.4-cp311-cp311-win_amd64.whl.metadata (3.5 kB)
Requirement already satisfied: numpy>=1.6.1 in c:\users\dell\anaconda3\lib\site-packages (from wordcloud) (1.26.4)
Requirement already satisfied: pillow in c:\users\dell\anaconda3\lib\site-packages (from wordcloud) (10.2.0)
Requirement already satisfied: matplotlib in c:\users\dell\anaconda3\lib\site-packages (from wordcloud) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->wordcloud) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->wordcloud) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)
Downloading wordcloud-1.9.4-cp311-cp311-win_amd64.whl (299 kB)
   ---------------------------------------- 0.0/299.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/299.9 kB ? eta -:--:--
   ------ -------------------------------- 51.2/299.9 kB 871.5 kB/s eta 0:00:01
   ------------------- -------------------- 143.4/299.9 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------  297.0/299.9 kB 2.3 MB/s eta 0:00:01
   ---------------------------------------- 299.9/299.9 kB 1.9 MB/s eta 0:00:00
Installing collected packages: wordcloud
Successfully installed wordcloud-1.9.4

In [7]:
#import list of stopwords
from wordcloud import STOPWORDS
print(STOPWORDS)

{'also', 'more', "where's", 'because', 'below', 'shall', "you're", 'he', "how's", 'about', "that's", 'does', 'these', 'between', "hasn't", "hadn't", 'only', 'under', 'you', "they've", 'having', 'a', 'for', 'here', 'since', "we're", "wouldn't", 'above', 'doing', 'no', "isn't", 'ought', "they'll", "i've", 'hers', 'the', "let's", 'until', 'his', 'yours', 'by', 'same', 'him', "he'll", 'himself', 'down', "it's", "she's", 'up', 'would', 'there', "doesn't", 'else', 'against', "she'll", 'her', 'those', 'then', "shouldn't", 'why', 'www', 'cannot', "they'd", 'could', "she'd", 'herself', 'all', 'but', 'are', 'before', 'just', 'ever', 'when', 'what', 'which', "aren't", 'myself', "i'll", 'http', 'however', 'once', "wasn't", "i'd", "he'd", 'been', "shan't", 'it', 'was', 'like', "don't", 'this', 'do', 'me', "why's", "didn't", 'on', 'yourself', 'after', 'very', 'whom', 'she', 'if', 'at', 'yourselves', 'few', 'com', 'my', 'k', "you'd", "you'll", 'your', "we'd", 'be', "haven't", "what's", 'its', 'how', 'too', 'otherwise', 'they', 'out', 'during', 'over', 'itself', 'again', 'off', 'our', 'other', 'both', 'themselves', "i'm", 'any', 'being', 'nor', 'not', 'own', 'i', 'some', 'get', 'r', 'had', 'most', 'than', 'should', 'them', "we'll", "weren't", 'has', 'with', 'of', 'we', 'as', 'into', 'theirs', 'ours', 'in', 'through', 'each', "won't", 'or', 'while', 'to', "can't", 'that', 'have', 'and', 'hence', 'so', "we've", 'from', "there's", 'where', "you've", "couldn't", 'did', 'an', 'such', 'therefore', 'who', "mustn't", 'is', "when's", "here's", 'am', 'can', 'ourselves', "he's", 'further', 'were', "who's", 'their', "they're"}

In [10]:
ds.text = ds.text.apply(lambda x:clean_text(x))

AttributeError: 'DataFrame' object has no attribute 'text'

In [9]:
ds.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew